<style>
    #imgg{
    width: 19vw;
    height: auto;
  }
  #title-div{
    position: absolute;
    left: auto;
    width: auto;
    height: auto;
  }
  .navbar-nav{
    flex-direction: row;
    margin-right: 2%;
    
  }
  .nav-item{
    margin-left: 50px;
    white-space: nowrap
    
  }

  .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: #fd23c3;
    font-size: 1rem;
    text-transform: uppercase;
  }
  #search-image{
    display: flex;
  }
  #scene{
    color: #fd23c3;
    font-size: 1rem;
    text-transform: uppercase;
    padding-right: 20px;
    padding-top: 8px;
  }
  #userSearchImage{
    color: white;
  }
  
</style>



<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid" style=" margin-left: 0px;">

    <a class="navbar-brand" href="/">
    <img id="imgg" src="https://see.fontimg.com/api/renderfont4/lg97d/eyJyIjoiZnMiLCJoIjo4NywidyI6MTUwMCwiZnMiOjU4LCJmZ2MiOiIjRjIzREJCIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/QW5pbWUgU2VrYWk/cyberway-riders.png" alt="Anime Sekai">
    </a>
     

      <ul class="navbar-nav">
        <!-- Search anime scene by Image -->
        <li class="nav-item">
          <form action="/imageSearchResults" method="GET" id="search-image">
            <label for="searchAnimeImage" id="scene">Search Anime Scene</label>
              <input class="form-control bg-dark me-2" type="search" type="text" id="userSearchImage" name="searchAnimeImage" placeholder="Enter Anime Image URL">
              <button class="btn btn-outline-light" type="submit">🔍</button>
          </form>
        </li>

        <% if(user){ %>
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="/users/profile">Profile</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="/users/logout">Logout</a></li>
        <% } else { %> 
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="/users/new">Sign Up</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="/users/login">Login</a></li>
        <%}%>
      </ul>
   
  </div>
</nav>


