<style>
    div{
        display: inline-block;
        margin: 0 10px;
    }
</style>


<h2>Home</h2>

<!-- Search anime: -->
<form action="/results" method="GET">
    <label for="userSearch">Anime Name:</label>
    <input type="text" id="userSearch" name="searchAnime">
    <button type="submit">Search!</button>
</form>

<!-- Search anime scene by Image -->
<form action="/imageSearchResults" method="get">
    <label for="userSearchImage">Anime Image Url:</label>
    <input type="text" id="userSearchImage" name="searchAnimeImage">
    <button type="submit">Search!</button>
</form>

<h3>seasonal Anime To watch </h3>
<!-- use https://api.jikan.moe/v4/seasons/now To show this season anime. -->
<!-- Shows only 5 seasonal anime -->
<ul>
    <%animeRec.forEach((a, index)=>{%>
        <% if(index < 6){ %>
            <div>
                <img src="<%= a.images.jpg.image_url%> " alt="">
                <li> <%=a.title%> </li>
            </div>
            
         <%}%>
     <%})%>
</ul>

