<style>
    #anime-search-cards{
        padding-left: 75px;
    }
    .card{
        display: inline-block;
        margin: 10px;

    }
    img{
        height: 300px;
    }
    a:link { 
        text-decoration: none; 
    }
    .card-body{
        font-size: 13px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
        color: white;
    }
    span{
        color: rgb(255, 186, 67);
    }
</style>

<h1>You Searched For: <span> <%=userSearch%></span></h1>
<hr>
<div id="anime-search-cards">
    <%animeRec.forEach((t, id)=>{%>
        <%let anime_id = t.mal_id %>
        <a href="/details/<%=anime_id %>" class="">
    <div class="card bg-dark" style="width: 12rem;">
        <img src="<%=t.images.jpg.image_url%>" class="card-img-top" alt="...">
        <div class="card-body">
            <%=t.title%>
        </div>
      </div>
    </a>    
    <% })%>

</div>
