<style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
    .mb-3 {
    margin-bottom: 1rem!important;
    width: 50%;
    margin: 0 auto;
    top: 30px;
    font-family: 'Orbitron', sans-serif;
}
</style>

<div class="card text-center text-bg-dark mb-3" >
    <div class="card-header">
       <h3> 404: File not Found</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Did You Login/Signup Yet? ¯\_(ツ)_/¯ </h5>
      <img src="https://media.tenor.com/ZBVQpHH9YfkAAAAC/oh-no-joseph-joestar.gif" alt="joseph-joestar saying oh noo">
      <br><br>
      <a href="/" class="btn btn-light">Home</a>
    </div>
  </div>