<!-- List user's favourite anime here! -->

<h1>My favorite Anime</h1>
<hr>

<ul>
    <%anime.forEach((fav)=>{%> 

        <div>
            <a href="/details/<%=fav.aniListId %>">
                <img src="<%= fav.image%> " alt="<%=fav.name%> poster">
                <li> <%=fav.name%> </li>
             </a>
        </div>
    <%}) %>
</ul> 