<h2>Hello, <%= user.email%> :)</h2>

<!-- It will refrence the favourite.ejs page it will get data from the database -->
<!-- Must do a join table between users and anime -->
<a href="#"><h3>My Favourite</h3></a>

<!-- It will refrence the reviews.ejs page it will get data from the database -->
<!-- Must do a join table between users and reviwes MAYBE LATER NO NEED NOW -->
<!-- <a href="/userReviews"><h3>My Reviews</h3></a> -->
<a href="/users/userReviews">My Reviews</a>