<h1>My Reviews</h1>

<ul>
    <%reviews.forEach((review)=>{%>
        <a href="/reviews/edit/<%=review.id%>">Edit Review</a>
        <li><a href="/details/<%=review.animeId%>">Anime Details</a></li>
        <li>Content: <%=review.content%></li>
        <p>
            <strong><%= moment(review.createdAt).calendar() %></strong>
          </p>
        <hr>
    <%})%>
</ul>